h1 {
    color: red;
}

.formLogin-btn {
    margin-top: 1em;
    width: max-content;
}
.formLogin-btn:hover {
    border: 1px solid black;
}
.formLogin-btn:active {
    background-color: hsl(0, 0%, 97%);
}

#formLogin-container {
    background-color: hsl(0, 0%, 87%);
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    padding: 8px 0px;
}
#formLogin {
    background-color: hsl(0, 0%, 92%);
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 8px;
}

#formLogin > div {
    padding: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}